/*
Theme Name: Twenty Seventeen with Custom Fields
Theme URI: https://wordpress.org/themes/twentyseventeen/
Author: Brian Douglas
Template: twentyseventeen
Author URI: https://bmdinteractive.com/
Description: Twenty Seventeen with Advanced Custom Fields additions
Version: 1.0
*/

/* Book Post Custom Styles*/
.publication-date{
	border-bottom:1px dotted #999;
	margin-bottom: 1em;
}

/* Social Share Links for artists*/
.artist-links.social-navigation {
	width:100%;
}
.artist-links.social-navigation a {
	color:#fff;
}